* {
    font-family: 'Londrina Solid', cursive;
    font-size: 1em;
    margin: 0;
    padding: 0;
}

html{

}

body {
}

#scroller {
    background: url("../images/background-gradient.png") repeat-x;
    /*linear-gradient(deepskyblue, white); -- gradientin piirtäminen reaaliaikaisesti HIDASTAA, parempi
     käyttää yllä olevaa bittikarttaa */
    width: 800px;
    height: 540px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50px;
}

#upperCloud {
    position: absolute;
    top: 10px;
    width: 800px;
    height: 85px;
    background: url("../images/_upperCloud.png") repeat-x;
    -webkit-animation: upperCloudScroll 20s linear infinite;
    animation: upperCloudScroll 20s linear infinite;
}

@-webkit-keyframes upperCloudScroll {
    from {background-position: 0 0;}
    to {background-position: -800px 0;}
}

@keyframes upperCloudScroll {
    from {background-position: 0 0;}
    to {background-position: -800px 0;}
}

#bottomCloud {
    position: absolute;
    top: 90px;
    width: 800px;
    height: 85px;
    background: url("../images/_bottomCloud.png") repeat-x;
    -webkit-animation: bottomCloudScroll 30s linear infinite;
    animation: bottomCloudScroll 30s linear infinite;
}

@-webkit-keyframes bottomCloudScroll {
    from {background-position: 0 0;}
    to {background-position: -800px 0;}
}

@keyframes bottomCloudScroll {
    from {background-position: 0 0;}
    to {background-position: -800px 0;}
}

@-webkit-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);}
    40% {-webkit-transform: translateY(-30px);}
    60% {-webkit-transform: translateY(-15px);}
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
    40% {transform: translateY(-30px);}
    60% {transform: translateY(-15px);}
}

.bounce {
    -webkit-animation-name: bounce;
    animation-name: bounce;
}


#selector {
    position: absolute;
    top: 245px;
    width: 800px;
    height: 100px;
    margin-left: 18px;
    font-size: 2.3em;
    font-weight: 400;
}

ul li{
    text-decoration: none;
    display: inline-block;
    margin-left: 10px;
    padding: 0 12px 0 12px;
}

#bushes {
    width: 800px;
    height: 56px;
    position: absolute;
    top: 384px;
    background: url("../images/bushes.png");
    -webkit-animation: bushesScroll 20s linear infinite;
    animation: bushesScroll 20s linear infinite;
}

@-webkit-keyframes bushesScroll {
    from {background-position: 0 0;}
    to {background-position: -1600px 0;}
}

@keyframes bushesScroll {
    from {background-position: 0 0;}
    to {background-position: -1600px 0;}
}

#ground {
    position: absolute;
    top: 440px;
    width: 800px;
    height: 85px;
    background: url("../images/64px.png");
    -webkit-animation: groundScroll 10s linear infinite;
    animation: groundScroll 10s linear infinite;
    border-radius: 0 0 50px 50px;
}

#footer {
    position: absolute;
    top: 482px;
    margin-left: 45px;
    font-size:.75em;
}

@-webkit-keyframes groundScroll {
    from {background-position: 0 0;}
    to {background-position: -800px 0;}
}

@keyframes groundScroll {
    from {background-position: 0 0;}
    to {background-position: -800px 0;}
}


.animated1 {
    -webkit-animation-duration: 4.2s;
    animation-duration: 4.2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    animation-iteration-count:infinite;
    -webkit-animation-iteration-count:infinite;
}

@-webkit-keyframes bounce1 {
    0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);}
    40% {-webkit-transform: translateY(-30px);}
    60% {-webkit-transform: translateY(-15px);}
}

@keyframes bounce1 {
    0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
    40% {transform: translateY(-30px);}
    60% {transform: translateY(-15px);}
}

.bounce1 {
    -webkit-animation-name: bounce;
    animation-name: bounce;
}

.animated2 {
    -webkit-animation-duration: 4s;
    animation-duration: 4s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    animation-iteration-count:infinite;
    -webkit-animation-iteration-count:infinite;
}

@-webkit-keyframes bounce2 {
    0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);}
    40% {-webkit-transform: translateY(-30px);}
    60% {-webkit-transform: translateY(-15px);}
}

@keyframes bounce2 {
    0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
    40% {transform: translateY(-30px);}
    60% {transform: translateY(-15px);}
}

.bounce2 {
    -webkit-animation-name: bounce;
    animation-name: bounce;
}

.animated3 {
    -webkit-animation-duration: 4.3s;
    animation-duration: 4.3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    animation-iteration-count:infinite;
    -webkit-animation-iteration-count:infinite;
}

@-webkit-keyframes bounce3 {
    0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);}
    40% {-webkit-transform: translateY(-30px);}
    60% {-webkit-transform: translateY(-15px);}
}

@keyframes bounce3 {
    0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
    40% {transform: translateY(-30px);}
    60% {transform: translateY(-15px);}
}

.bounce3 {
    -webkit-animation-name: bounce;
    animation-name: bounce;
}

