* {
    font-family: 'Londrina Solid', cursive;
    font-size: 1em;
    margin: 0;
    padding: 0;
}

/*  Setting up mario'ish parallax scrolling */
#scroller {
    background: url("../images/background-gradient.png") repeat-x;
    /*  linear-gradient(deepskyblue, white); -- this ruins the scrolling, takes too much resources to do it realtime
        and thus it is better to use a plain old bitmap to render the gradience in a more efficient manner.
    */
    width: 800px;
    height: 540px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50px;
}

/* Upper cloud-layer */
#upperCloud {
    position: absolute;
    top: 10px;
    width: 800px;
    height: 85px;
    background: url("../images/_upperCloud.png") repeat-x;
/*    -webkit-animation: scrollApparatus 20s linear infinite; */
    animation: scrollApparatus 20s linear infinite;
}

/* Bottom cloud-layer */
#bottomCloud {
    position: absolute;
    top: 90px;
    width: 800px;
    height: 85px;
    background: url("../images/_bottomCloud.png") repeat-x;
/*    -webkit-animation: scrollApparatus 30s linear infinite; */
    animation: scrollApparatus 30s linear infinite;
}

/* Bush-layer */
#bushes {
    width: 800px;
    height: 56px;
    position: absolute;
    top: 384px;
    background: url("../images/bushes.png");
/*    -webkit-animation: scrollApparatus 20s linear infinite; */
    animation: scrollApparatus 20s linear infinite;
}

/* Ground */
#ground {
    position: absolute;
    top: 440px;
    width: 800px;
    height: 85px;
    background: url("../images/64px.png");
/*    -webkit-animation: scrollApparatus 10s linear infinite; */
    animation: scrollApparatus 10s linear infinite;
    border-radius: 0 0 50px 50px;
}

/*  The actual scrolling happens in here
    the things you can do with CSS3! */
/* @-webkit-keyframes scrollApparatus {
    from {background-position: 0 0;}
    to {background-position: -800px 0;}
}
    ---> CSS validator does not like this
         CSS validator doesn't like any web-kit precautions

*/

@keyframes scrollApparatus {
    from {background-position: 0 0;}
    to {background-position: -800px 0;}
}

/*  Div for links to other assignments */
#selector {
    position: absolute;
    top: 245px;
    width: 800px;
    height: 100px;
    margin-left: 19px;
    font-size: 2.3em;
    font-weight: 400;
}

ul li{
    text-decoration: none;
    display: inline-block;
    margin-left: 10px;
    padding: 0 12px 0 12px;
}

a, a:visited{
    color: #0d4072;
    text-decoration: none;
    transition: color 475ms;
}

a:hover {
    color: #1a96ff;
}


#footer {
    position: absolute;
    top: 482px;
    margin-left: 45px;
    font-size:.75em;
}

/*  Animating list items selected with animated class separately
    neat, huh? The nth-child-selectors turned out to be pretty
    handy. I wonder if even LESS would have been neater...?
*/
.animated:first-child {
    animation-duration: 4.2s;
    animation-fill-mode: both;
    animation-timing-function: ease-in-out;
    animation-iteration-count:infinite;
}

.animated:nth-child(2) {
    animation-duration: 4s;
    animation-fill-mode: both;
    animation-timing-function: ease-in-out;
    animation-iteration-count:infinite;
}

.animated:nth-child(3) {
    animation-duration: 4.3s;
    animation-fill-mode: both;
    animation-timing-function: ease-in-out;
    animation-iteration-count:infinite;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
    40% {transform: translateY(-15px);}
    60% {transform: translateY(-15px);}
}

.bounce {
 /*   -webkit-animation-name: bounce; */
    animation-name: bounce;
}